@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" charset=" utf-8" />
    <meta name="description" content="Phillip Jenkins Personal Website"/>
    <meta name="author" content="Phillip Jenkins"/>

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />

    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <script>

    </script>
</head>
<body>
    <div class="container-fluid header">
        @Html.Partial("~/Views/Shared/Navbar.cshtml")
    </div>
    
    <div class="container-fluid" style="padding-top:25px">
        @RenderBody()
    </div>

    <div class="container-fluid footer">
        @Html.Partial("~/Views/Shared/Footer.cshtml")
    </div>
</body>
</html>
