<div class="container-fluid">
    <div class="row">
        <!--Link Buttons-->
        <ul class="list-inline text-center" style="padding-bottom:55px">
            <li>
                <a href="https://github.com/philliptjenkins/" rel="nofollow" target="_blank">
                    <img src="~/images/logos/github_light.png" alt="GitHub" class="imgbutton" />
                </a>
            </li>
            <li>
                <a href="http://blog.philliptjenkins.com/">
                    <img src="~/images/logos/blogger.png" alt="Blogger" class="imgbutton" />
                </a>
            </li>
            <li>
                <a href="http://thestripelesstiger.deviantart.com/" rel="nofollow" target="_blank">
                    <img src="~/images/logos/dev_mark.png" alt="DeviantArt" class="imgbutton" />
                </a>
            </li>
            <li>
                <a href="https://twitter.com/TigerStripes229" rel="nofollow" target="_blank">
                    <img src="~/images/logos/twitter.png" alt="Twitter Inc." class="imgbutton" />
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/ptjenkins" rel="nofollow" target="_blank">
                    <img src="~/images/logos/facebook.png" alt="Facebook Inc." class="imgbutton" />
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/ptjenkins" rel="nofollow" target="_blank">
                    <img src="~/images/logos/linkedin_white.png" alt="LinkedIn&trade;" class="imgbutton" />
                </a>
            </li>
        </ul>
        <!--Copyright Info-->
        <p class="panel-footer copyright text-center navbar-fixed-bottom">
            Copyright © Phillip Jenkins 2015
        </p>
    </div>
</div>