@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header text-center">
            About Me
        </h1>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel-group" id="accordian">

            <!--Background-->
            <div class="panel panel-primary">
                <div class="panel-heading text-center clickable">
                    <h3 class="panel-title">
                        Background
                        <i class="glyphicon glyphicon-chevron-up pull-right"></i>
                    </h3>
                </div>
                <div class="panel-body" id="collapse1">
                    <p>
                        I grew up in Indiana and have lived here all my life. I remember playing games on my Dad's old Mac Plus and creating simple interactive point-and-click adventures in HyperCard.
                        I was always encouraged to pursue my artistic abilities, and have been sketching since I was young - even if they were just stick figures at the time.
                        I have always had a knack for computers and having a parent that is proficient in them as well was a big help. I took design classes in High School back when Dreamweaver was still owned by Macromedia.
                    </p>
                    <p>
                        Quickly I realized that programming was just another art form, and a language you could speak. As technology exploded, especially after Mobile devices had come out, I started to gain an interest in not just the graphical side, but the core design of software and apps in general. This led me down the path I am currently walking.
                    </p>
                </div>
            </div>

            <!--Employment-->
            <div class="panel panel-primary">
                <div class="panel-heading text-center clickable">
                    <h3 class="panel-title">
                        Employment
                        <i class="glyphicon glyphicon-chevron-up pull-right"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <h4>2009</h4>
                    <p>
                        When I graduated college back in 2009, the job market looked pretty bleak. I quickly found myself in Indianapolis, and via a stroke of luck, wound up at Fujifilm Medical Systems as a call center Support Engineer for a Cardiovascular imaging software.
                        While at Fuji, I honed my interpersonal skills as well as ability to problem solve complex tasks.
                    </p><br />
                    <h4>Early 2011</h4>
                    <p>
                        I began to take on more duties, and then made a shift into the Reporting team which handled the maintenance and customization of user-facing GUI elements for data import, entry, and export. We worked in a proprietary coding language specific to the design tools present in the software.
                        We frequently would have to explore and learn back-end code to understand the many facets of the software.
                        We supported data input from varying formats and parsed them into the database via an importer configuration. We also tailored the data export to <abbr title="Electronic Medical Record" class="initialism">EMR</abbr>s in order to facilitate several vendors.
                    </p>
                    <p>
                        We worked in close collaboration with other departments as well as the customer to achieve the requirements to meet the ever-changing accredidation standards of hospitals, to solve problems in the field, escalate defects, and write hotfix code to patch immediate issues.
                        Over time, I worked closely with our internal tools development team to develop, test, and provide feedback on best practice tools which were eventually releasing to the consumer. We maintained training for these tools, as well as a repository of customizations for our clinical team to develop reports from.
                    </p><br />
                    <h4>2014 to Present</h4>
                    <p>
                        The five years I spent at Fuji was a tremendous learning experience and I carry with me the wisdom this job imparted. Because of the deep understanding of the system it required, I am familiar with product lifecycle managment, defect escalation, and <abbr title="Quality Assurance" class="initialism">QA</abbr> testing. Our team was a jack-of-all-trades, and we were constantly seeking new ways to do things and preparing for the future.
                    </p>
                    <p>
                        I left Fujifilm back in 2014 to pursue higher education. Fuji was undergoing a shift in organizational structure, and this seemed like the proper decision. I am currently pursuing a Computer Science degree at Indiana University and am presently employed in an internship at Zirmed&reg; Medical Solutions in Louisville. I am very happy with the progress I have made and look forward to things to come.
                    </p>
                </div>
            </div>

            <!--Personal Life-->
            <div class="panel panel-primary">
                <div class="panel-heading text-center clickable">
                    <h3 class="panel-title">
                        Personal Life
                        <i class="glyphicon glyphicon-chevron-up pull-right"></i>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        In my free time, I am an avid gamer of all facets - board games, card games, and role-playing games. I enjoy modding computer games and dabble in creating my own. I have been involved in several projects building games from scratch as well as editing existing game code.
                        I am also a freelance illustration artist that works on a commission basis. I have done character illustrations, logos, flyers, and web graphics, in addition to any mock-up work required by the clientele.
                        I have been attempting to break into the realm of webcomics and plan on using <a href="http://www.asp.net/" rel="nofollow" target="_blank">ASP.NET</a> <abbr title="Model View Controller" class="initialism">MVC</abbr> to accomplish this task.
                        I enjoy puzzles, specifically brain-teasers and the <a href="https://www.rubiks.com/" rel="nofollow" target="_blank">Rubik's Cube</a>.
                        I also cannot resist a good book. I read mostly fantasy, such as <a href="http://www.neilgaiman.com/" rel="nofollow" target="_blank">Neil Gaiman</a>, but enjoy my classics,
                        such as the <a href="https://en.wikipedia.org/wiki/Hobbit" rel="nofollow" target="_blank">Hobbit</a>
                        and <a href="https://en.wikipedia.org/wiki/The_Lord_of_the_Rings" rel="nofollow" target="_blank">Lord of the Rings</a>
                    </p>
                </div>
            </div>

        </div>
        <!--End Accordian-->

    </div>
</div>