@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<div class="row" style="padding-top:43px">
    <div class="col-md-offset-4 col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Contact Info</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tr>
                        <td><i class="glyphicon glyphicon-map-marker"></i></td>
                        <td>Scottsburg, Indiana</td>
                    </tr>
                    <tr>
                        <td><i class="glyphicon glyphicon-envelope"></i></td>
                        <td><a href="mailto:jenkins.pt@gmail.com">jenkins.pt@gmail.com</a></td>
                    </tr>
                    <tr>
                        <td><i class="glyphicon glyphicon-phone-alt"></i></td>
                        <td>(765) 277-2491</td>
                    </tr>
                    <tr>
                        <td></td><td></td>
                    </tr>
                </table>
                <div class="text-center">You can also reach out to me via the links below.</div>
            </div>
        </div>
    </div>
</div>
