@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header text-center">
            My Resume
        </h1>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <!--insert collapse code here-->

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="tabs">
            <li class="active">
                <a href="#home" role="tab" data-toggle="tab">
                <i class="glyphicon glyphicon-user" ></i>  Goals</a>
            </li>
            <li><a href="#skills" role="tab" data-toggle="tab">
                <i class="glyphicon glyphicon-stats"></i>  Skills</a>
            </li>
            <li><a href="#history" role="tab" data-toggle="tab">
                <i class="glyphicon glyphicon-hourglass"></i>  Job History</a>
            </li>
            <li><a href="#education" role="tab" data-toggle="tab">
                <i class="glyphicon glyphicon-blackboard"></i>  Education</a>
            </li>
            <li><a href="~/Files/PJenkins_Resume.pdf" rel="nofollow" target="_blank">
                <i class="glyphicon glyphicon-download"></i>  Download</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="padding-top:10px">
            <!--GOALS-->
            <div class="tab-pane active" id="home">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">Goals</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <i class="glyphicon glyphicon-asterisk"></i>  My father always told me to have clear goals in life. If you didn't set a deadline, you had no reason to finish it. I am a man who knows what I want and actively pursues it. I want to stay organized and detail-oriented to make the most of my time.
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-asterisk"></i>  I have been seeking work in the field of interactive multimedia and software development focusing on <abbr title="User Interface" class="initialism">UI</abbr> and <abbr title="User Experience" class="initialism">UX</abbr> design. I have a broad range of skills tailored to this extent.
                            I have worked in the medical informatics field for over four years and have dealt with everything from technical support, visual reporting, database management, interface relations, hardware issues and software development.
                        </p>
                        <p>
                            <i class="glyphicon glyphicon-asterisk"></i>  My goal is to stay up-to-date with current technologies, and always find the most effecient way to accomplish a task.
                            I quickly adopt new technologies and combined with strong design skills, I can quickly plan and refine projects for presentation and follow through to the final product with organization and commitment.
                            Education is endless, so my primary goal is to keep learning as technology advances.
                        </p>
                    </div>
                </div>
            </div>
            <!--SKILLS-->
            <div class="tab-pane" id="skills">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">Technical Skills</h3>
                    </div>
                    <div class="table panel-body">
                        <div class="col-sm-4">
                            <b>Programming:</b>
                            <ul>
                                <li>C++, C#, Objective C</li>
                                <li>Java, JavaScript, Ruby</li>
                                <li>Microsoft .NET Framework</li>
                                <li>Microsoft SQL</li>
                                <li>HTML 5, CSS 3, XML, XLS</li>

                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <b>Software:</b>
                            <ul>
                                <li>Adobe Creative Suite 5</li>
                                <li>Visual Studio 2012</li>
                                <li>Microsoft Office 2012</li>
                                <li>Netbeans, Eclipse, Notepad++</li>

                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <b>Services:</b>
                            <ul>
                                <li>Google Technologies</li>
                                <li>VMWare ESX</li>
                                <li>Batch Processing</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">Practical Skills</h3>
                    </div>
                    <div class="table panel-body table-responsive">
                        <div class="col-sm-10">
                            <ul>
                                <li>Database management and queries</li>
                                <li>Electronic documentation management systems</li>
                                <li>Collaboration using latest cloud-based management tools</li>
                                <li>Illustration, mock-ups, GUI layout, UX and presentation</li>
                                <li>Project planning, requirements gathering, and customer consultation</li>
                                <li>Software testing, defect resolution, and product lifecycle</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!--JOB HISTORY-->
            <div class="tab-pane" id="history">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">ZirMed&reg; Medical Solutions, Louisville, KY</h3>
                    </div>
                    <div class="panel-body">
                        <b>IT Internship</b><br />
                        <i>June 2015 – Present</i><br /><br />
                        <b>Job Duties:</b>
                        <ul>
                            <li>Developing internal tools for use by ZirMed</li>
                            <li>Learning modern front-end Web App infrastructure</li>
                            <li>Studying for the Microsoft C# Certification Exam</li>
                            <li>Collaborating with peers to strengthen and enhance our skills</li>
                        </ul>
                        <b>Technologies and Principles:</b>
                        <div class="row">
                            <div class="col-sm-4">
                                <ul>
                                    <li>Microsoft TFS</li>
                                    <li>NHibernate</li>
                                    <li>ASP.NET MVC 5</li>
                                    <li>C# 5.0</li>
                                    <li>JavaScript</li>
                                    <li>HTML5, CSS3</li>
                                    <li>Twitter Bootstrap</li>
                                </ul>
                            </div>
                            <div class="col-sm-4">
                                <ul>
                                    <li>Domain Driven Design</li>
                                    <li>Dependency Injection</li>
                                    <li>Continuous Integration</li>
                                    <li>Agile Project Development</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">FujiFilm Medical Systems USA, Indianapolis, IN</h3>
                    </div>
                    <div class="panel-body">
                        <b>Reporting Engineer</b><br />
                        <i>August 2011 – April 2014</i><br /><br />
                        <b>Job Duties:</b>
                        <ul>
                            <li>Provided hospitals with software customizations using a proprietary coding language</li>
                            <li>Managed inbound data from multiple medical platforms for import to our software</li>
                            <li>Ensured integration between our product's outbound data to electronic medical record systems</li>
                            <li>Identified defects and provided solutions for software issues in the field</li>
                            <li>Created, updated, and provided documentation for departmental and customer use</li>
                            <li>Assisted with internal tools development, maintenance, and training</li>
                        </ul>
                        <hr />
                        <b>Technical Support Engineer (Contractor)</b><br />
                        <i>July 2010 – August 2011</i><br /><br />
                        <b>Job Duties:</b>
                        <ul>
                            <li>Provided remote technical support and troubleshooting to over 400 hospital sites</li>
                            <li>Responsible for initial call receipt, ticket entry, and engineer assignment</li>
                            <li>Assisted customers with software questions and handled issue escalation</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--EDUCATION-->
            <div class="tab-pane" id="education">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">Purdue University, West Lafayette, Indiana</h3>
                    </div>
                    <div class="panel-body">
                        <b>Bachelor of Science - Computer Graphics Technology (2009)</b><br />
                        <small>Minored in Computer and Information Technology</small><br /><br />
                        <dl>
                            <dt>Description:</dt>
                            <dd>
                                <p>
                                    While at Purdue, I studied <abbr title="Computer Graphics Technology" class="initialism">CGT</abbr> specializing in Computer Animation in Maya as well as storyboarding, <abbr title="Computer Aided Design" class="initialism">CAD</abbr> modeling, 3D lighting, and texturing. I took acting classes to supplement facial animation using mouth and blend shapes. My focus was on story-driven animation, keyframing based on cels, and model design and rigging from concept art.
                                </p>
                                <p>
                                    My Associates Degree was completed at a Purdue extension program at Indiana University East in Richmond, Indiana. I completed projects inbvolving web design, graphic design, illustration, and object-oriented programming. We used primarily the Adobe Creative Suite - specifically InDesign, Photoshop, and Illustrator. I became proficient ay layout and typesetting.
                                    Since I minored in Informations, I am also adept at databases such as Access and <abbr title="Structured Query Language" class="initialism">SQL</abbr> as well as Excel, Powerpoint, and Word.
                                </p>
                            </dd>
                        </dl>
                        <p>
                            <b>Related Courses:</b>
                            <ul>
                                <li>Information Technology Architectures</li>
                                <li>Systems Design</li>
                                <li>Systems Analysis and Development</li>
                                <li>Entrepreneurship and Innovation</li>
                                <li>Communications</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        <h3 class="panel-title">Indiana University Southeast, New Albany, Indiana</h3>
                    </div>
                    <div class="panel-body">
                        <b>Bachelor of Science - Computer Science (Expected 2017)</b><br />
                        <small>Minoring in Mathematics</small><br /><br />
                        <dl>
                            <dt>Description:</dt>
                            <dd>
                                I am currently enrolled at Indiana University Southeast in a quest to improve my knowledge of database management, data structures, assemblers, compilers, linkers, and operating system threading.
                                It is my hope that the internship program that I found through IU will help me to better understand the methodologies in today's software development processes.
                            </dd>
                        </dl>
                        <p>
                            <b>Related Courses:</b>
                            <ul>
                                <li>Assembly Language</li>
                                <li>Programming in Java</li>
                                <li>perating Systems</li>
                                <li>Modern Programming Languages</li>
                                <li>Foundations of Digital Computing</li>
                                <li>Computer Structures</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>